.container {
    width: 1024px;
    margin: 0 auto;
}

#mainBio {
    float: left;
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
}

#contactInfo {
    float: left;
    width: 20%;
    padding-top: 5px;
}

#bioImage {
    float: left;
    width: 200px;
    margin-left: 20px;
}

body {
    background-color: #0B486B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #DBE6EC;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E8F3F8;
    height: 40px;
}

h1 {
    color: #0B486B;
    font-size: 28px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: #DBE6EC
}

a:visited {
    color: #DBE6EC;
}